:root{
    --red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --DarkBlue: hsl(234, 12%, 34%);
    --Grayish: hsl(229, 6%, 66%);
    --LightGray: hsl(0, 0%, 98%);
}
*{
    margin: 0;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
.main-container{    
    width: 100vw;
    min-height: 100vh;
    display: grid;    
    place-items: center;
    background-color: var(--LightGray);
    
}
.card-container{   
    width: 90%;
    box-shadow: 3px 3px 10px 0px var(--Grayish);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-header{      
    width: 45%;
    margin-top: 3rem; 
}
.card-header--title{
    font-size: 3.5rem;   
    font-weight: 400;        
    margin: 0;
    text-align: center;
    color: var(--DarkBlue);
}
span{
    display: block;
    font-weight: 600;
}
p{
    color: var(--Grayish);   
}
.card-header--description{    
    margin-top: 2rem;
    font-size: 1.5rem;
    text-align: center;   
}
.card-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    gap: 2rem;    
    place-items: center;
    padding: 2rem;
    margin-top: 3rem;   
}
.card{
    background-color: var(--LightGray);
    padding: 2rem;   
    border-radius: .5rem;
    box-shadow: 3px 3px 10px 0px var(--Grayish);
    width: 30rem;     
}
.card--title{
    margin-bottom: 1rem;
    font-size: 2rem;
}
.card--description{
    font-size: 1.2rem;
}
.card-image{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 2rem;
}
.card--light-blue{
    grid-column: 1/2;
    grid-row: 1/4;
    border-top: 5px solid var(--Cyan);
}
.card--red{
    grid-column: 2/3;
    border-top: 5px solid var(--red);
}
.card--yellow{
    grid-column: 2/3;
    border-top: 5px solid var(--Orange);
}
.card--dark-blue{
    grid-column: 3/4;
    grid-row: 1/4;
    border-top: 5px solid var(--Blue);
}


@media (max-width: 768px){
    .card-container{   
        width: 100%;        
    }
    .card-header{      
        width: 100%;       
    }
    .card-header--title{
        font-size: 2rem;         
    }    
    .card-header--description{         
        font-size: 1.5rem;          
    }
    .card--light-blue{
        grid-column: 1/4;
        grid-row: 1/2;       
    }
    .card--red{
        grid-column: 1/4;
        grid-row: 2/3;
       
    }
    .card--yellow{
        grid-column: 1/4;
        grid-row: 3/4;      
    }
    .card--dark-blue{
        grid-column: 1/4;
        grid-row: 4/5;        
    }    
    .card{        
        width: 95%;     
    }  

}

